## Business Understanding
Objective: The primary objective is to build classification models to perform churn analysis on Telco customers. 
Problem Definition: The problem is to identify which class the new data will fall into.
Data Understanding: The data that will be used for this analysis includes details of customers from 2 different sources(SQL database and Github) with 20 columns. 
Plan:
## Hypothesis Test
Price and Value:

Customers on pre-paid plans are more likely to churn than customers on post-paid plans with fixed monthly fees.
Customers who perceive their plan as offering poor value for money (e.g., not enough data, limited minutes) are more likely to churn.
Customers who are offered targeted discounts or promotions by competitors are more likely to churn.
Customer Satisfaction and Service:

Customers who have had negative interactions with customer service representatives (e.g., long wait times, unhelpful responses) are more likely to churn.
Customers who perceive a lack of innovation in service offerings from their current provider are more likely to churn.
Contract and Tenure:

Customers nearing the end of a fixed-term contract are more likely to churn to explore new offers.
Customers who have been with the company for a shorter period of time are more likely to churn.
Customer Demographics and Usage:

Customers with high monthly data usage are less likely to churn as switching providers would be disruptive.
Customers who use multiple services (e.g., phone, internet, TV) from the same provider are less likely to churn due to convenience.
Customers in certain age groups (e.g., young adults) may be more price-sensitive and thus more likely to churn.

## Relevant Questions

In [2]:
# Import requisite libraries
import pyodbc    
from dotenv import dotenv_values
import warnings 
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = os.getenv("SERVER")
database = os.getenv("DATABASE")
username = os.getenv("USERNAME")
password = os.getenv("PASSWORD")

In [4]:
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [5]:
connection = pyodbc.connect(connection_string)

In [6]:
# select data from 2020
query = "SELECT * FROM LP2_Telco_churn_first_3000"

churn_data1 = pd.read_sql(query, connection)
churn_data1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [7]:
churn_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [38]:
churn_data1["Churn"].unique()

array([False, True, None], dtype=object)

In [39]:
churn_data1[churn_data1['OnlineBackup'].isna()]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
11,7469-LKBCI,Male,False,False,False,16,True,False,No,None,...,None,None,None,None,Two year,False,Credit card (automatic),18.950001,326.799988,False
16,8191-XWSZG,Female,False,False,False,52,True,False,No,None,...,None,None,None,None,One year,False,Mailed check,20.650000,1022.950012,False
21,1680-VDCWW,Male,False,True,False,12,True,False,No,None,...,None,None,None,None,One year,False,Bank transfer (automatic),19.799999,202.250000,False
22,1066-JKSGK,Male,False,False,False,1,True,False,No,None,...,None,None,None,None,Month-to-month,False,Mailed check,20.150000,20.150000,True
33,7310-EGVHZ,Male,False,False,False,1,True,False,No,None,...,None,None,None,None,Month-to-month,False,Bank transfer (automatic),20.200001,20.200001,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,6765-MBQNU,Female,False,True,False,26,True,True,No,None,...,None,None,None,None,One year,False,Mailed check,26.000000,684.049988,False
2987,3769-MHZNV,Female,False,True,True,33,True,False,No,None,...,None,None,None,None,Two year,False,Mailed check,20.100000,670.349976,False
2989,3308-MHOOC,Male,False,False,True,1,True,False,No,None,...,None,None,None,None,Month-to-month,True,Mailed check,19.200001,19.200001,False
2993,2239-CFOUJ,Male,False,True,True,1,True,False,No,None,...,None,None,None,None,One year,False,Mailed check,20.400000,20.400000,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,None,...,None,None,None,None,Month-to-month,False,Mailed check,20.600000,414.950012,False

In [40]:
churn_data1['OnlineBackup'].fillna("Unknown", inplace=True)

In [42]:
churn_data1.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup          0
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [43]:
# Access the second dataset
url = 'https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP2-Classifcation/main/LP2_Telco-churn-second-2000.csv'
churn_data2 = pd.read_csv(url)
churn_data2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [44]:
churn_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB